/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("");
  --header-bg-color: #ffffff; /** Transparent color if adding header bg-image **/
  --header-font-color: #ffffff;
  --brand-font-size: 2rem;
  --logo-width: 120px;
  --menu-top-bg-color: #2d84a0;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Open Sans", sans-serif;
  --footer-bg-color: #d1efe0;
  --heading-font-family: "Open Sans", sans-serif;
  --link-color: #1a4fa1;
  --darkest-color: #000000;
  --medium-color: #80b5b8;
  --light-color: #d1efe0;
  --bright-color: #1a4fa1;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
