/* Variables
   ========================================================================== */
:root {
  --header-bg-image: url("../../images/layout/stri_crab.png");
  --header-bg-color: ; /** Transparent color if adding header bg-image **/
  --header-font-color: #fff;
  --brand-font-size: 1.5rem;
  --logo-width: 500px;
  --menu-top-bg-color: #080504;
  --menu-font-size: 1rem;
  --body-bg-color: #fafafa;
  --body-text-color: #000000;
  --body-font-size: 1rem;
  --body-font-family: "Roboto", sans-serif;
  --footer-bg-color: #f1dc6d50;
  --heading-font-family: "Roboto", sans-serif;
  --link-color: #758978;
  --darkest-color: #080504;
  --medium-color: #758978;
  --light-color: #CD9869;
  --bright-color: #685194;
  --danger-color: #b31b1b;
  --max-innertext-width: 1024px;
}
